[submodule "EXTERNALS"]
	path = EXTERNALS
	url = https://github.com/The-Viccyware-Group/EXTERNALS
[submodule "resources/config/engine/animations"]
	path = resources/config/engine/animations
	url = https://github.com/The-Viccyware-Group/Viccyware-animation-assets
